:root {
    /* color */
    --c-White: hsl(0, 0%, 100%);
 
    --c-Stone-100: hsl(30, 54%, 90%);
    --c-Stone-150: hsl(30, 18%, 87%);
    --c-Stone-600: hsl(30, 10%, 34%);
    --c-Stone-900: hsl(24, 5%, 18%);
 
    --c-Brown-800: hsl(14, 45%, 36%);
 
    --c-Rose-800: hsl(332, 51%, 32%);
    --c-Rose-50: hsl(330, 100%, 98%);
    
 }

.c-rose-800{color: var(--c-Rose-800);}
.c-brown-800{color: var(--c-Brown-800);}