* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
   background-color: var(--c-Stone-100);
   font-size: 16px;
   font-family: var(--font-outfit-var);
   color: var(--c-Stone-600);
   line-height: 1.5;
}
main{
   max-width: 1440px;
   margin-inline: auto;

}
ul {
   padding-right: 20px;
}

ul li {
   display: flex;
   align-items: center;
   margin-top: 10px;
}

ul li::before {
   content: "•";
   padding: 0 22px 0 5px;
}
hr {
   margin-block: 20px;
}